*{margin: 0;
padding: 0;
box-sizing: border-box;}

html{font-size: 62.5%;}



body{background-color: #0096c7;}

#box{text-align: center;
  margin-top: 25rem;
margin-bottom: 60vh;}

#title{font-family: cursive;
font-size: 15rem;}  


 

.button{padding: 1rem;
font-size: 3rem;
border: 0;
border-radius: 1rem;
margin: 0.5rem;
cursor: pointer;
color: black;}


#reset{background-color: #e85d04;}
#reset:hover{background-color: #d90429;}


#increase{background-color: #aacc00;}
#increase:hover{background-color: #2b9348;}

#decrease{background-color: #ffe566;}
#decrease:hover{background-color: #ffd400;}




@media (max-width:998px) {
  html{font-size: 55%;}
}

@media (max-width:768px) {
  html{font-size: 45%;}
}